.about__container {
  padding-top: 158px;
}
.about__title {
  width: 227px;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.03;
}

.about-complex-list__bg {
  display: inline-block;
  font-size: 82px;
  font-style: italic;
  font-weight: 300;
  color: transparent;
  -webkit-text-stroke: 2px #d2b9994d;
}
