.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 7px;
}

.logo {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo span {
  font-style: normal;
}

.logo:hover,
.logo:focus {
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 1);
}

.navigation__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.navigation__menu {
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
}

.navigation__menu:hover,
.navigation__menu:focus {
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 1);
}

.menu-container {
  position: absolute;
  top: 33px;
  left: -150px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 555;
  background-color: var(--main-bg-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.menu-container.js-open {
  opacity: 1;
  pointer-events: visible;
}

.menu-container__list {
  padding: 10px 15px;
}

.menu-container__item {
  display: inline-block;
  margin-bottom: 15px;
  text-shadow: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__item:last-child {
  margin-bottom: 0px;
}

.menu-container__item :hover,
.menu-container__item :focus {
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 1);
}

.menu-container__link {
  color: #d2b999;
}

.navigation-list {
  display: none;
  position: absolute;
  top: 35px;
  left: -59px;
  width: 170px;
  padding: 20px 10px;
  background-color: #d2b999;
  border-radius: 3px;
}

.navigation-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.navigation__line-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation__line1 {
  background: #fff;
  width: 20px;
  height: 1px;
  margin-bottom: 8px;
}
.navigation__line2 {
  background: #fff;
  width: 10px;
  height: 1px;
  margin-bottom: 8px;
}

.navigation__line3 {
  background: #fff;
  width: 30px;
  height: 1px;
}
